#user2 {
  display: none;
}

body {
  text-align: center;
  background-color: lightgray;
}

.panel {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.player1 {
  color: lightblue;
  text-shadow: 2px 2px grey;
}

.player2 {
  color: red;
}

.jumbotron {
  background-image: url(../dice.png);
  background-size: 10%;
  width: 88%;
  display: block;
  margin: auto;
}
